.video__section{
    height: 100%;
    min-height: rem(650px);
    background: #F8FAF9;
    ;
}

.video__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video__title{
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(40px);
    color: #292929;
    text-transform: uppercase;
    text-align: center;
}

.video__content{
    position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: inherit;
  overflow: hidden;
}

.video__content iframe {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}